{% extends 'base/base.html' %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="page-header">
            <div class="page-title">
                <ol class="breadcrumb">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('employee_record',content='designation_info')}}">Archived Designation List</a></li>
                    <li class="active">Delete Designation Record</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
    
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Employee Details: {{form['name']}}</strong>

            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="/app/employee_record/designation_info/{{form['ref_index']}}/delete" method="post" enctype="multipart/form-data">

                            <!-- Employment location -->
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="company_2" class="control-label">Company</label>
                                        <select class="form-control" id="company_2" name="company_2" required>
                                            {% for item in context['company'] %}
                                                {% if item['code'] == form['company'] %}
                                                    <option value="{{item['code']}}" selected>{{item['description']}}</option>
                                                {% else %}
                                                    <option value="{{item['code']}}">{{item['description']}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="department_2" class="control-label">Department</label>
                                        <select class="form-control" id="department_2" name="department_2" required>
                                            <option value="" selected disabled>Please Choose Here</option>
                                            {% for item in context['department'] %}
                                                {% if item['code'] == form['department'] %}
                                                    <option value="{{item['code']}}" selected>{{item['description']}}</option>
                                                {% else %}
                                                    <option value="{{item['code']}}">{{item['description']}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="section_2" class="control-label">Section</label>
                                        <select class="form-control" id="section_2" name="section_2" required>
                                            <option value="" selected disabled>Please Choose Here</option>                                            
                                            {% for item in context['section'] %}
                                                {% if item['department']+'-'+item['code'] == form['section'] %}
                                                    <option value="{{item['department']}}-{{item['code']}}" selected>{{item['description']}}</option>
                                                {% else %}
                                                    <option value="{{item['department']}}-{{item['code']}}">{{item['description']}}</option>
                                                {% endif %}                                            
                                                
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="position_2" class="control-label">Position</label>
                                        <input type="text" name="position_2" class="form-control" id="position_2"
                                            data-val="true" data-val-required="Please enter name" required value="{{form['position']}}">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="reason_edit" class="control-label">Reason For Deleting</label>
                                <input type="text" name="reason_delete" class="form-control" id="code" data-val="true"
                                    data-val-required="Please enter name" required>
                            </div>                                                             
                            <div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" name="action"
                                    value="SAVE">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
//department section start 
 var showCity = function(selectedDepartment){
  $('#section_2 option').hide();
     $('#section_2').find('option').filter(function(){
         var section_2 = $(this).val();
         return section_2.indexOf(selectedDepartment)!=-1;
     }).show();

     var defaultCity = $('#section_2 option:visible:first').text();
     $('#section_2').val("{{form['section']}}");
 };

 var department_2 = $('#department_2').val();
 showCity(department_2);
 $('#department_2').change(function(){
    showCity($(this).val());
 });
});
//department section end

//area location start
$(function(){
 
 var showCity = function(selectedArea){
  $('#location_3 option').hide();
     $('#location_3').find('option').filter(function(){
         var location_3 = $(this).val();
         return location_3.indexOf(selectedArea)!=-1;
     }).show();
     //set default value
     var defaultCity = $('#location_3 option:visible:first').text();
     $('#location_3').val("{{form['location']}}");
 };

 //set default state
 var area_3 = $('#area_3').val();
 showCity(department_2);
 $('#area_3').change(function(){
    showCity($(this).val());
 });
});
//area location end



 </script>
 {% endblock %}
 {% include 'base/js.html' %}