{% extends 'base.html' %}
{% block content %}

<div class=align-right>
   <article class="add" >

     <a class="btn btn-secondary btn-sm" href="/app/utilities/leave">Back <i class="fa fa-arrow-left"></i></a>

   </article>
</div>

<article class="media content-section">
   <div class="col table-responsive" style="margin:0px;padding: 0px;">

      <table id ="myTable"  class="table table-bordered table-hover">
         <thead class="thead-dark" style="text-transform: uppercase; ">
            <tr style="font-size: 13px;">
<!--                <th>Action</th> -->
               <th>Date</th>
               <th>LEAVE CATEGORY</th>
               <th>WORKING HOURS</th>
               <th>PAID</th>
               <th>NOT PAID</th>
               <th>REASON</th>
               <th>Applied To</th>


               
            </tr>
         </thead>
         <tbody>
            {% for item in ref %}
            
            <tr style="font-size: 15px;">
<!--                <td>
               <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#delete{{item['ref_index']}}">Delete</button>
               </td> -->
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['date_now']}}</td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['leave_type']}}</td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['working_hour']}}</td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['hours_paid']}} </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['hours_not_paid']}} </td> 
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['reason']}} </td> 
               <td style="padding:0px;padding-left: 10px;"nowrap> {{item['effective_start']}}</td>
                 
            </tr>
                        <div id="delete{{item['ref_index']}}" role="dialog" tabindex="-1" class="modal fade">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Reason for Deleting Record of : {{item["reference_name"]}}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <form method="POST"  action="/app/utilities/leave/{{item['ref_index']}}">
                            <input class="form-control" type="text" name="ref_index" value = "{{item['ref_index']}}" hidden>
                            <input class="form-control" type="text" name="date_now" value = "{{item['date_now']}}" hidden>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" type="text" style="width: 100%;"  name="reason_delete" placeholder= "Reason For Deleting" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><input class="btn btn-primary" type="submit" name ="action" value="Delete"> </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
         </tbody>
      </table>
   </div>
</article>
<div id="add" role="dialog" tabindex="-1" class="modal fade">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3>Apply Leave</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
         <form method="POST" action="/app/utilities/leave">
            <div class="content-section p-4">
               <input type="hidden" name="csrfmiddlewaretoken" value="3aSrxKhSSJTcZeDTzLtYwNrWoFJPHzcWv8UucW72EBmE1RxqL6yK4aHkobaiaopj">
               <input type="text" name="type" value="1" hidden>
               <fieldset class = "form-group">

                  <input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="ref_index" id="index" value ="{{session['index']}}" hidden>
                  <input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="SN" id="SN" value ="{{session['SN']}}" hidden>
                  <input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="employee_id" id="index" value ="{{session['employee_id']}}" hidden>

                  <div id="div_id_date_filed" class="form-group">
                     <label for="id_date_filed" class=" requiredField">
                     Date Filed<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="date" style="width: 100%;min-width: 200px;"  name="date_filed" required>
                     </div>
                  </div>
                
                  <div id="div_id_transmitted_by" class="form-group">
                     <label for="id_transmitted_by" class=" requiredField">
                     Name<span class="asteriskField">*</span> </label>
                     <div class="">
                        <input class="form-control" type="text" style="width: 100%;"  name="name" id= "dept_sec" value="{{session['last_name'] +', '+ session['first_name'] + ' ' + session['middle_name'] +'.' + session['suffix']}}" required readonly>
                     </div>
                  </div>
                  
                  <div id="div_id_department" class="form-group">
                     <label for="id_department" class=" requiredField">
                     Department & Section<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="dept_sec" id= "dept_sec" value="{{session['department'] +'/'+session['section']}}" required readonly>
                     </div>
                  </div>

                  <div id="div_id_designation" class="form-group">
                     <label for="id_designation" class=" requiredField">
                     Designation<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="designation"  required>
                     </div>
                  </div> 

                  <div id="div_id_leave_type" class="form-group">
                     <label for="id_leave_type" class=" requiredField">
                     Leave Type<span class="asteriskField">*</span> </label>
                     <div class="">
                        <select name="leave_type" style="width: 100%;" onchange="depChange(this);">
                           <option value="" disabled selected>Choose Here</option>
                           <option value="SL">Sick Leave</option>
                           <option value="VL">Vacation Leave</option>
                           <option value="BL">Birthday Leave</option>
                           <option value="ML">Maternal Leave</option>
                           <option value="PL">Paternity Leave</option>
                           <option value="MC">Magna Carta</option>
                           <option value="CS">Company Subsidy(Vacation Day)</option>
                        </select>
                     </div>
                  </div> 
 
                  <div id="div_id_date_from" class="form-group">
                     <label for="id_date_from" class=" requiredField">
                     Date From:<span class="asteriskField">*</span> </label>
                     <div class="">
                  <input class="form-control" type="date" style="width: 100%;min-width: 200px;"  name="date_from"  required>
                     </div>
                  </div>

                  <div id="div_id_date_to" class="form-group">
                     <label for="id_date_to" class=" requiredField">
                     Date To:<span class="asteriskField">*</span> </label>
                     <div class="">
                  <input class="form-control" type="date" style="width: 100%;min-width: 200px;"  name="date_to"  required>
                     </div>
                  </div>

                  <div id="div_id_resume" class="form-group">
                     <label for="id_resume" class=" requiredField">
                     Date Resume:<span class="asteriskField">*</span> </label>
                     <div class="">
                  <input class="form-control" type="date" style="width: 100%;min-width: 200px;"  name="resume"  required>
                     </div>
                  </div>

                  <div id="div_id_no_hours" class="form-group">
                     <label for="id_no_hours" class=" requiredField">
                     # of Hours Remaining:<span class="asteriskField">*</span> </label>
                     <div class="">
                  <input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="no_hours_available" id="no_hours_available" required readonly>
                     </div>
                  </div>

                  <div id="div_id_no_hours" class="form-group">
                     <label for="id_no_hours" class=" requiredField">
                     # of Hours:<span class="asteriskField">*</span> </label>
                     <div class="">
                  <input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="no_hours"  required>
                     </div>
                  </div>


                  <div id="div_id_is_with_pay" class="form-group">
                     <label for="id_is_with_pay" class=" requiredField">
                     With Pay<span class="asteriskField">*</span> </label>
                     <div class="">
                        <select name="is_with_pay" style="width: 100%;" id="is_with_pay">
                           <option value="" disabled selected>Choose Here</option>
                           <option value="Yes">Yes</option>
                           <option value="No">No</option>
                        </select>
                     </div>
                  </div> 

                  <div id="div_id_reason" class="form-group">
                     <label for="id_reason" class=" requiredField">
                     Reason<span class="asteriskField"></span> </label>
                     <div class="">
						      <textarea name="reason" style="height:60px;width: 100%;"></textarea>
                     </div>
                  </div>                    
                                             
               </fieldset>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><input class="btn btn-primary" type="submit" name ="action" value="Save"> </div>
         </form>
      </div>
   </div>
</div>


<script type="text/javascript">

    function depChange(selectObj) {
        try{
        var idx = selectObj.selectedIndex;        
        var which = selectObj.options[idx].value;

        var id = selectObj.id

        var no_of_hour = document.getElementById("no_hours_available");
        var is_with_pay = document.getElementById("is_with_pay");

        if (which == "SL")
        {
         no_of_hour.value = parseFloat("{{session['SL']}}") * 8;
        }
        else if (which == "VL")
        {
         no_of_hour.value = parseFloat("{{session['VL']}}") * 8;
        }
        else if (which == "BL")
        {
         no_of_hour.value = 0;
        }        
        else if (which == "SP")
        {
         no_of_hour.value = parseFloat("{{session['SP']}}") * 8;
        }
        else if (which == "BRL")
        {
         no_of_hour.value = parseFloat("{{session['BRL']}}") * 8;
        }
        else if (which == "ML")
        {
         no_of_hour.value = parseFloat("{{session['ML']}}") * 8;
        }
        else if (which == "PL")
        {
         no_of_hour.value = parseFloat("{{session['PL']}}") * 8;
        }
        else if (which == "MC")
        {
         no_of_hour.value = parseFloat("{{session['MC']}}") * 8;
        }
        else if (which == "CS")
        {
         no_of_hour.value = parseFloat("{{session['CS']}}") * 8;
        }
        else
        {
         no_of_hour.value = 0;
         
        }



     }
     catch (err) {
      alert(err.message);
     }
    }





 $(document).ready(function(){
        $('#myTable').DataTable({
        "aLengthMenu": [[15, 30, 45, -1], [15, 30, 45, "All"]],
        "iDisplayLength": 15,
        "order": [[ 0, "asc" ]]
    });
     }); 


     $(document).ready(function() {
  document.getElementById("main").style.display = "inline-block";
});

</script>
{% endblock %}
{% block scripts %}
{% endblock %}