{% extends 'base.html' %}
{% block content %}
<div class=align-right>
   <article class="add" >

      <button class="btn btn-secondary btn-sm mb-5" type="button" data-toggle="modal" data-target="#add">Add Item<i class="fa fa-plus-square"></i></button>
   </article>
</div>
<article class="media content-section">
   <div class="col table-responsive" style="margin:0px;padding: 0px;">

      <table id="myTable" class="table table-bordered table-hover">
         <thead class="thead-dark" style="text-transform: uppercase; ">
            <tr style="font-size: 13px;">
               <th>Action</th>
               <th>RR #</th>
               <th>RR Date</th>
               <th>Name of Supplier</th>
               <th>Cost Center</th>
               <th>P.O No</th>
               <th>Remarks</th>
               
            </tr>
         </thead>
         <tbody>
            {% for item in data['transactions_rr']%}
            <tr style="font-size: 15px;">
               <td style="margin:0px;padding:0px;padding-left:10px;width: 145px;" nowrap>
                  
                   <a class="btn btn-secondary btn-sm" href="/app/transactions/rr/{{item['index']}}">View</a>
                  <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#delete{{item['index']}}">Delete</button>
               </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['trans_no']}}</td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['rr_date']}} </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['supplier']}} </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['cost_center']}} </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['po_no']}} </td> 
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{item['remarks']}} </td>                 
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</article>
<div id="add" role="dialog" tabindex="-1" class="modal fade">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3>Add Transaction</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
         <form method="POST" action="/app/transactions/rr">
            <div class="content-section p-4">
               <input type="hidden" name="csrfmiddlewaretoken" value="3aSrxKhSSJTcZeDTzLtYwNrWoFJPHzcWv8UucW72EBmE1RxqL6yK4aHkobaiaopj">
               <fieldset class = "form-group">
                  <div id="div_id_trans_no" class="form-group">
                     <label for="id_trans_no" class=" requiredField">
                     RR No.<span class="asteriskField">*</span> </label>
                     <div class="">
                        
                        <input class="form-control" type="number" style="width: 100%;min-width: 200px;"  name="trans_no" required>

                     </div>
                  </div>                  
                  <div id="div_id_supplier" class="form-group">
                     <label for="id_supplier" class=" requiredField">
                     Supplier<span class="asteriskField">*</span> </label>
                     <div class="">
                        <select name="supplier_index"  class="select form-control" required id="supplier_index" onchange = "SelectChange(this);">
                           <option value="" selected>---------</option>
                           {% for x in data['reference_supplier'] %}

                           <option value="{{x['index']}}">{{x['supplier']}}</option>

                           {% endfor %}
                        </select>
                     </div>
                  </div>
                  <input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="supplier" id="supplier" hidden>
                  <div id="div_id_rr_date" class="form-group">
                     <label for="id_rr_date" class=" requiredField">
                     RR Date<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="date" style="width: 100%;min-width: 200px;"  name="rr_date"  required>
                     </div>
                  </div>

                  <div id="div_id_company_code" class="form-group">
                     <label for="id_company_code" class=" requiredField">
                     Supplier<span class="asteriskField">*</span> </label>
                     <div class="">
                        <select name="company_code"  class="select form-control" required id="company_code">
                           <option value="" selected>---------</option>
                           {% for x in data['reference_company'] %}

                           <option value="{{x['company_code']}}">{{x['company_name']}}</option>

                           {% endfor %}
                        </select>
                     </div>
                  </div>
                
                  <div id="div_id_department" class="form-group">
                     <label for="id_department" class=" requiredField">
                     PO No.<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="po_no" required>
                     </div>
                  </div>


                  <div id="div_id_remarks" class="form-group">
                     <label for="id_remarks" class=" requiredField">
                     Remarks<span class="asteriskField"></span> </label>
                     <div class="">
						<input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="remarks">
                     </div>
                  </div>                    
                                                       
               </fieldset>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><input class="btn btn-primary" type="submit" name ="submit" value="Save"> </div>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">

      var supp_name = new Array(4);

        {% for x in data['reference_supplier'] %}
            supp_name["{{x['index']}}"] = "{{x['supplier']}}";

        {% endfor %}




        function SelectChange(selectObj) {
        try {
           var idx = selectObj.selectedIndex;
           // get the value of the selected option
           var which = selectObj.options[idx].value;
           // use the selected option value to retrieve the list of items from the countryLists array
           index_name = supp_name[which];           
           // get the country select element via its known id
           var namea = document.getElementById("supplier");           
           namea.value = index_name;

        }
        catch (err){
         alert(err.message);
        }
     }

 $(document).ready(function(){
        $('#myTable').DataTable({
        "aLengthMenu": [[15, 30, 45, -1], [15, 30, 45, "All"]],
        "iDisplayLength": 15,
        "order": [[ 1, "asc" ]]
    });
     }); 

</script>
{% endblock %}
{% block scripts %}
{% endblock %}