{% extends 'base.html' %}
{% block content %}

{% for item in data['transactions_wiss'] %}


<div class="container-fluid noprint" style="width: 100%;">
   <article class="add" >
      <button class="btn btn-secondary btn-sm mb-5" type="button" data-toggle="modal" data-target="#edit"  onclick="clickMe(this)">Edit Master<i class="fa fa-plus-square"></i></button>
      <button class="btn btn-secondary btn-sm mb-5" type="button" data-toggle="modal" data-target="#delete">Delete Detail<i class="fa fa-plus-square"></i></button>
   </article>
</div>
<!-- //ORIGINAL COPY-->
<div class="container-fluid" style="width: 100%;">
	<div class="form-row mb-1">

		<div class="col-sm-4"><img class="img-responsive" src="\static\img\BDC.png"></div>
		<div class="col-sm-5">
			<div class="form-row">
				<div class="col" style="font-size:10px;">&nbsp;</div>
			</div>			
			<div class="form-row">
				<div class="col" style="font-size:14px;">BDC Corporate Center, Mindanao Ave.</div>
			</div>
			<div class="form-row">
				<div class="col" style="font-size:14px;">Extension, Greater Lagro, Quezon City</div>
			</div>
		</div>
		<div class="col-sm-1" style="font-size: 14px;">
			<div class="form-row">
				<div class="col" style="font-size:18px;">&nbsp;</div>
			</div>
			<div class="form-row">
				<div class="col" style="font-size:10px;">W/ISS No</div>
			</div>
		</div>
		<div class="col-sm-2">

			<div class="form-row">
				<div class="col" style="font-size:34px;color:red;text-align: right;">A{{item['trans_no']}} </div>
			</div>			
		</div>
	</div>
	<div class="form-row" style="border-style: solid;border-width: 1px;">
		<div class="col-sm-3"></div>
		<div class="col-sm-6" style="text-align:center ;"><strong>WITHDRAWAL / ISSUANCE</strong></div>
		<div class="col-sm-3" style="font-size:14px;text-align: right;"><strong>ITB-002-004-002</strong></div>
	</div>

	<div class="form-row" style="border-style: solid; border-top-style: none; border-bottom-style: none; border-width: 1px;">
		<div class="col-sm-2" style="font-size:14px;">Issued To</div>

		<div class="col-sm-4" style="text-align: center;font-size:14px;">
			<input type="text" value="{{item['issued_to']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px; width: 90%;" readonly>
		</div>

		
		<div class="col-sm-2" style="font-size:14px;">WISS Date</div>

		<div class="col-sm-2" style="text-align: center;font-size:14px;">
			<input type="text" value="{{item['wiss_date']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px;width: 90%;" readonly>
		</div>
		<div class="col-sm-2" style="font-size:14px;border-left-style: solid;border-width: 1px;">&nbsp;</div>
	</div>	

	<div class="form-row" style="border-style: solid; border-top-style: none; border-bottom-style: none; border-width: 1px;">

		<div class="col-sm-2" style="font-size:14px;">
			Dept. & Sec
		</div>

		<div class="col-sm-4" style="text-align: center;font-size:14px;">
			<input type="text" value="{{item['dept_sect']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px; width: 90%;" readonly>
		</div>

		
		<div class="col-sm-2" style="font-size:14px;">
			Ref. OTS # & GP #
		</div>

		<div class="col-sm-2" style="text-align: center;font-size:14px;">
			<input type="text" value="{{item['ref_trans']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px;width: 90%;" readonly>
		</div>
		<div class="col-sm-2" style="font-size:10px;border-left-style: solid;border-width: 1px; text-align:center;">ORIGINAL COPY</div>
	</div>
    

	<div class="form-row" style="border-style: solid; border-top-style: none; border-bottom-style: none; border-width: 1px;padding-bottom: 2px;">
		<div class="col-sm-2" style="font-size:14px;">Issued By</div>

		<div class="col-sm-4" style="text-align: center;font-size:14px;"><input type="text" value="{{item['issued_by']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px; width: 90%;" readonly></div>

		
		<div class="col-sm-2" style="font-size:14px;">Ref. ISR/SPRF #</div>

		<div class="col-sm-2" style="text-align: center;font-size:14px;"><input type="text" value="{{item['ref_isr']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px;width: 90%;" readonly></div>
		<div class="col-sm-2" style="font-size:10px;border-left-style: solid;border-width: 1px; text-align:center;">&nbsp;</div>
	</div>

	<div class="form-row" style="border-style: solid; border-width: 1px;">

		<div class="col-sm-3" style="font-size:14px;text-align: center;">MACHINE ID</div>

		<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">ITEM DESCRIPTION</div>

		
		<div class="col-sm-1" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">QTY</div>

				<div class="col-sm-2" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">UNIT</div>
				<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">SERIAL NO.</div>
			</div>

			{% for i in range(0,10) %}
			<div class="form-row" style="border-style: solid; border-width: 1px;">
				{% if data['transactions_wiss_detail'][i]  %}
				<div class="col-sm-3" style="font-size:14px;text-align: center;">{{data['transactions_wiss_detail'][i]['item_machine_id']}}</div>

				<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">{{data['transactions_wiss_detail'][i]['item_description']}}</div>

				
				<div class="col-sm-1" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">{{data['transactions_wiss_detail'][i]['item_qty']}}</div>

				<div class="col-sm-2" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">{{data['transactions_wiss_detail'][i]['item_unit']}}</div>
				<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">{{data['transactions_wiss_detail'][i]['item_serial']}}</div>

				{% else %}
				<div class="col-sm-3" style="font-size:14px;text-align: center;">&nbsp;</div>

				<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">&nbsp;</div>

				
				<div class="col-sm-1" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">&nbsp;</div>

				<div class="col-sm-2" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">&nbsp;</div>
				<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">&nbsp;</div>

				{% endif %}

			</div>

			{% endfor %}
			<div class="form-row" style="border-style: solid; border-width: 1px;">
				<div class="col" style="font-size:14px;text-align: center;"><strong><em>REMARKS</em></strong></div>
			</div>
			<div class="form-row" style="border-style: solid; border-width: 1px;">
				<div class="col" style="font-size:14px;text-align: center;height:40px; ">{{item['remarks']}}</div>
			</div>


			<div class="form-row" style="border-style: solid; border-width: 1px;">
				<div class="col" style="font-size:14px;text-align: center;">(Signature Over Printed Name & Date)</div>
			</div>
			<div class="form-row" style="border-style: solid; border-width: 1px;">
				<div class="col" style="font-size:14px;height:40px;">Received By</div>
				<div class="col" style="font-size:14px;text-align: center;height:40px;">
					<div class="form-row">
						<div class="col">
							&nbsp;
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							{{item['received_by']}}
						</div>
					</div>
				</div>				
				<div class="col" style="font-size:14px;height:40px;border-left-style:solid;border-width:1px;   ">Forwarded By</div>
				<div class="col" style="font-size:14px;text-align: center;height:40px;">
					<div class="form-row">
						<div class="col">
							&nbsp;
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							{{item['forwarded_by']}}
						</div>
					</div>
				</div>

</div>
</div>

<!-- //ORIGINAL COPY END -->
<!-- //DUPLICATE COPY -->
<div class="container-fluid nodisplay" style="width: 100%; margin-top: 120px;">
	<div class="form-row mb-1">

		<div class="col-sm-4"><img class="img-responsive" src="\static\img\BDC.png"></div>
		<div class="col-sm-5">
			<div class="form-row">
				<div class="col" style="font-size:18px;">BDC Corporate Center, Mindanao Ave.</div>
			</div>
			<div class="form-row">
				<div class="col" style="font-size:18px;">Extension, Greater Lagro, Quezon City</div>
			</div>
		</div>
		<div class="col-sm-1" style="font-size: 14px;">
			<div class="form-row">
				<div class="col" style="font-size:18px;">&nbsp;</div>
			</div>
			<div class="form-row">
				<div class="col" style="font-size:10px;">W/ISS No</div>
			</div>
		</div>
		<div class="col-sm-2">

			<div class="form-row">
				<div class="col" style="font-size:34px;color:red;text-align: right;">A{{item['trans_no']}} </div>
			</div>			
		</div>
	</div>
	<div class="form-row" style="border-style: solid;border-width: 1px;">
		<div class="col-sm-3"></div>
		<div class="col-sm-6" style="text-align:center ;"><strong>WITHDRAWAL / ISSUANCE</strong></div>
		<div class="col-sm-3" style="font-size:14px;text-align: right;"><strong>ITB-002-004-002</strong></div>
	</div>

	<div class="form-row" style="border-style: solid; border-top-style: none; border-bottom-style: none; border-width: 1px;">
		<div class="col-sm-2" style="font-size:14px;">Issued To</div>

		<div class="col-sm-4" style="text-align: center;font-size:14px;">
			<input type="text" value="{{item['issued_to']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px; width: 90%;" readonly>
		</div>

		
		<div class="col-sm-2" style="font-size:14px;">WISS Date</div>

		<div class="col-sm-2" style="text-align: center;font-size:14px;">
			<input type="text" value="{{item['wiss_date']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px;width: 90%;" readonly>
		</div>
		<div class="col-sm-2" style="font-size:14px;border-left-style: solid;border-width: 1px;">&nbsp;</div>
	</div>	

	<div class="form-row" style="border-style: solid; border-top-style: none; border-bottom-style: none; border-width: 1px;">

		<div class="col-sm-2" style="font-size:14px;">
			Dept. & Sec
		</div>

		<div class="col-sm-4" style="text-align: center;font-size:14px;">
			<input type="text" value="{{item['dept_sect']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px; width: 90%;" readonly>
		</div>

		
		<div class="col-sm-2" style="font-size:14px;">
			Ref. OTS # & GP #
		</div>

		<div class="col-sm-2" style="text-align: center;font-size:14px;">
			<input type="text" value="{{item['ref_trans']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px;width: 90%;" readonly>
		</div>
		<div class="col-sm-2" style="font-size:10px;border-left-style: solid;border-width: 1px; text-align:center;">DUPLICATE COPY</div>
	</div>
    

	<div class="form-row" style="border-style: solid; border-top-style: none; border-bottom-style: none; border-width: 1px;padding-bottom: 2px;">
		<div class="col-sm-2" style="font-size:14px;">Issued By</div>

		<div class="col-sm-4" style="text-align: center;font-size:14px;"><input type="text" value="{{item['issued_by']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px; width: 90%;" readonly></div>

		
		<div class="col-sm-2" style="font-size:14px;">Ref. ISR/SPRF #</div>

		<div class="col-sm-2" style="text-align: center;font-size:14px;"><input type="text" value="{{item['ref_isr']}}" style="border-style: none;border-bottom-style: solid;border-width: 1px;width: 90%;" readonly></div>
		<div class="col-sm-2" style="font-size:10px;border-left-style: solid;border-width: 1px; text-align:center;">&nbsp;</div>
	</div>

	<div class="form-row" style="border-style: solid; border-width: 1px;">

		<div class="col-sm-3" style="font-size:14px;text-align: center;">MACHINE ID</div>

		<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">ITEM DESCRIPTION</div>

		
		<div class="col-sm-1" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">QTY</div>

				<div class="col-sm-2" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">UNIT</div>
				<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">SERIAL NO.</div>
			</div>
			{% for i in range(0,10) %}
			<div class="form-row" style="border-style: solid; border-width: 1px;">
				{% if data['transactions_wiss_detail'][i]  %}
				<div class="col-sm-3" style="font-size:14px;text-align: center;">{{data['transactions_wiss_detail'][i]['item_machine_id']}}</div>

				<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">{{data['transactions_wiss_detail'][i]['item_description']}}</div>

				
				<div class="col-sm-1" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">{{data['transactions_wiss_detail'][i]['item_qty']}}</div>

				<div class="col-sm-2" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">{{data['transactions_wiss_detail'][i]['item_unit']}}</div>
				<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">{{data['transactions_wiss_detail'][i]['item_serial']}}</div>

				{% else %}
				<div class="col-sm-3" style="font-size:14px;text-align: center;">&nbsp;</div>

				<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">&nbsp;</div>

				
				<div class="col-sm-1" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">&nbsp;</div>

				<div class="col-sm-2" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">&nbsp;</div>
				<div class="col-sm-3" style="text-align: center;font-size:14px;border-left-style: solid;border-width: 1px;">&nbsp;</div>

				{% endif %}

			</div>

			{% endfor %}
			<div class="form-row" style="border-style: solid; border-width: 1px;">
				<div class="col" style="font-size:14px;text-align: center;"><strong><em>REMARKS</em></strong></div>
			</div>
			<div class="form-row" style="border-style: solid; border-width: 1px;">
				<div class="col" style="font-size:14px;text-align: center;height:40px; ">{{item['remarks']}}</div>
			</div>


			<div class="form-row" style="border-style: solid; border-width: 1px;">
				<div class="col" style="font-size:14px;text-align: center;">(Signature Over Printed Name & Date)</div>
			</div>
			<div class="form-row" style="border-style: solid; border-width: 1px;">
				<div class="col" style="font-size:14px;height:40px;">Received By</div>
				<div class="col" style="font-size:14px;text-align: center;height:40px;">
					<div class="form-row">
						<div class="col">
							&nbsp;
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							{{item['received_by']}}
						</div>
					</div>
				</div>				
				<div class="col" style="font-size:14px;height:40px;border-left-style:solid;border-width:1px;   ">Forwarded By</div>
				<div class="col" style="font-size:14px;text-align: center;height:40px;">
					<div class="form-row">
						<div class="col">
							&nbsp;
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							{{item['forwarded_by']}}
						</div>
					</div>
				</div>

</div>


</div>
<!-- //DUPLICATE COPY END -->
<div id="edit" role="dialog" tabindex="-1" class="modal fade">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3>Edit ITS Master</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
         <form method="POST" action="/app/transactions/wiss">
         	 <input class="form-control" type="number" style="width: 100%;min-width: 200px;"  name="index" value="{{item['index']}}" id="index" required readonly hidden>
         	 <input class="form-control" type="number" style="width: 100%;min-width: 200px;"  name="employee_index" value="{{item['employee_index']}}" id="employee_index" required readonly hidden>
            <div class="content-section p-4">
               <input type="hidden" name="csrfmiddlewaretoken" value="3aSrxKhSSJTcZeDTzLtYwNrWoFJPHzcWv8UucW72EBmE1RxqL6yK4aHkobaiaopj">
               <fieldset class = "form-group">
                  <div id="div_id_trans_no" class="form-group">
                     <label for="id_trans_no" class=" requiredField">
                     WISS No.<span class="asteriskField">*</span> </label>
                     <div class="">

                        <input class="form-control" type="number" style="width: 100%;min-width: 200px;"  name="trans_no" value="{{item['trans_no']}}" required readonly>


                     </div>
                  </div>                  
                  <div id="div_id_issued_to" class="form-group">
                     <label for="id_issued_to" class=" requiredField">
                     Issued To<span class="asteriskField">*</span> </label>
                     <div class="">
                     	<input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="issued_to" id="issued_to" readonly>
                     </div>
                  </div>
                  
                  <div id="div_id_wiss_date" class="form-group">
                     <label for="id_wiss_date" class=" requiredField">
                     WISS Date<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="date" style="width: 100%;min-width: 200px;" id="wiss_date" name="wiss_date" value="{{item['wiss_date']}}" readonly>
                     </div>
                  </div>
                  <div id="div_id_department" class="form-group">
                     <label for="id_department" class=" requiredField">
                     Department & Section<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="dept_sect" id= "dept_sect" value="{{item['dept_sect']}}" readonly>
                     </div>
                  </div>

                  <div id="div_id_ref_trans" class="form-group">
                     <label for="id_ref_trans" class=" requiredField">
                     Ref. OTS No. & GP No.<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="ref_trans" value="{{item['ref_trans']}}" required>
                     </div>
                  </div> 
                  <div id="div_id_issued_by" class="form-group">
                     <label for="id_issued_by" class=" requiredField">
                     Issued By<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="text" style="width: 100%;min-width: 200px;"id="issued_by"  name="issued_by" value ="ICTD" required readonly>
                     </div>
                  </div> 
                  <div id="div_id_ref_isr" class="form-group">
                     <label for="id_ref_isr" class=" requiredField">
                     Ref. ISR/SPRF No.<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="ref_isr" value="{{item['ref_isr']}}" required>
                     </div>
                  </div>
                  <div id="div_id_remarks" class="form-group">
                     <label for="id_remarks" class=" requiredField">
                     Remarks<span class="asteriskField"></span> </label>
                     <div class="">
						<input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="remarks" value="{{item['remarks']}}">
                     </div>
                  </div>                    
                  <div id="div_id_forwarded_by" class="form-group">
                     <label for="id_forwarded_by" class=" requiredField">
                     Forwarded By</span> </label>
                     <div class="">
                        <select id ="forwarded_by" name="forwarded_by" class="select form-control">
                           <option value="" selected>---------</option>
                           {% for x in ref['reference_employee'] %}
                           		<option value="{{x['surname']}}, {{x['first_name']}} {{x['middle_name']}} {{x['suffix']}}">{{x['surname']}}, {{x['first_name']}} {{x['middle_name']}} {{x['suffix']}}</option>
                           {% endfor %}
                        </select>
                     </div>
                  </div>
                  <div id="div_id_received_by" class="form-group">
                     <label for="id_received_by" class=" requiredField">
                     Received By</label>
                     <div class="">
                        <select id="received_by" name="received_by" class="select form-control">
                           <option value="" selected>---------</option>
                           {% for x in ref['reference_employee'] %}

                           <option value="{{x['surname']}}, {{x['first_name']}} {{x['middle_name']}} {{x['suffix']}}">{{x['surname']}}, {{x['first_name']}} {{x['middle_name']}} {{x['suffix']}}</option>

                           {% endfor %}
                        </select>
                     </div>
                  </div>
                  <div id="div_id_ref_isr" class="form-group">
                     <label for="id_ref_isr" class=" requiredField">
                     Reason For Editing<span class="asteriskField">*</span> </label>
                     <div class="">
						<input class="form-control" type="text" style="width: 100%;min-width: 200px;"  name="reason_edit" required>
                     </div>
                  </div>                                                       
               </fieldset>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><input class="btn btn-primary" type="submit" name ="submit" value="Update"> </div>
         </form>
      </div>
   </div>
</div>





   <div class="col table-responsive noprint" style="margin:0px;padding: 0px;">

      <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
         <thead class="thead-dark" style="text-transform: uppercase; ">
            <tr style="font-size: 13px;">
               <th>Action</th>
               <th>Machine ID</th>
               <th>Item Description</th>
               <th>Item Model</th>
               <th>Qty</th>
               <th>Unit</th>
               <th>SN</th>               
               <th>Remarks</th>
               
            </tr>
         </thead>
         <tbody>
            {% for detail in ref['item_details']%}
            	{% if detail["item_qty"] != 0 %}
            <tr style="font-size: 15px;">
               <td style="margin:0px;padding:0px;padding-left:10px;width: 145px;" nowrap>
               	
                  {% if trans_no['transactions_wiss_detail_count'] < 10 %}
                  	{% if detail['item_qty'] == 1 or detail['item_qty'] == "1"  %}
                  	 <a class="btn btn-secondary btn-sm" href="/app/transactions/wiss/{{item['index']}}/add/{{detail['index']}}">Add</a>
                   	{% else %}
                   	<button class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#add_item{{detail['index']}}">Add</button>
                   	{% endif %} 
                  {% else %}
                   Details Max
                  {% endif %}                                    
               </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_machine_id']}}</td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_description']}} </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_model']}} </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_qty']}} </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_unit']}} </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_serial']}} </td> 
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_remarks']}} </td> 
               	{% endif %}
               
            </tr>
            <div id="add_item{{detail['index']}}" role="dialog" tabindex="-1" class="modal fade">
               <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h3>Issue Item : {{detail['item_description']}}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                     </div>
                     <form method="POST" action="/app/transactions/wiss/{{item['index']}}/add_item/{{detail['index']}}">
                        <div class="content-section p-4">
                           <input type="hidden" name="csrfmiddlewaretoken" value="3aSrxKhSSJTcZeDTzLtYwNrWoFJPHzcWv8UucW72EBmE1RxqL6yK4aHkobaiaopj">
                           <fieldset class = "form-group">
                              <input type="text" name="index" maxlength="100" class="textinput textInput form-control" required id="index" value="{{detail['index']}}" hidden> 
                              <input type="hidden" name="ref_index" value="{{detail['ref_index']}}">
                              
                              <div id="div_id_item_Machine ID" class="form-group">
                                 <label for="id_item_Machine ID" class=" requiredField">
                                 Qty <span class="asteriskField">*</span> </label>
                                 <div class=""> 
                                 	<input type="number" name="item_qty" max="{{detail['item_qty']}}" class="numberinput form-control" required value="{{detail['item_qty']}}"> </div>
                              </div>

                           </fieldset>
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><input class="btn btn-primary" type="submit" name ="submit" value="Add"> </div>
                     </form>
                  </div>
               </div>
            </div>
            {% endfor %}
         </tbody>
      </table>
   </div> 


<div id="delete" role="dialog" tabindex="-1" class="modal fade">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3>Delete Item Detail</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>


      <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
         <thead class="thead-dark" style="text-transform: uppercase; ">
            <tr style="font-size: 13px;">
               <th>Action</th>
               <th>Machine ID</th>
               <th>Item Description</th>
               
               <th>Qty</th>
               <th>Unit</th>
               <th>SN</th>               
               <th>Remarks</th>
               
            </tr>
         </thead>
         <tbody>
            {% for detail in data['transactions_wiss_detail']%}
            
            <tr style="font-size: 15px;">
               <td style="margin:0px;padding:0px;padding-left:10px;width: 145px;" nowrap>
                  
                   <a class="btn btn-secondary btn-sm" href="/app/transactions/wiss/{{item['index']}}/delete/{{detail['index']}}">Delete</a>                  
               </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_machine_id']}}</td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_description']}} </td>
               
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_qty']}} </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_unit']}} </td>
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_serial']}} </td> 
               <td style="padding:0px;padding-left: 10px;padding-top: 5px;"nowrap> {{detail['item_remarks']}} </td> 
               
               
            </tr>
            {% endfor %}
         </tbody>
      </table>

      </div>
   </div>
</div>























<script type="text/javascript">

     function clickMe(selectObj){
     	try {

     	var index = document.getElementById("index");
     	var dept_sect = document.getElementById("dept_sect");
     	var issued_by = document.getElementById("issued_by");
     	var wiss_date = document.getElementById("wiss_date");
     	var issued_to = document.getElementById("issued_to");


     	var received_by = document.getElementById("received_by");
     	var forwarded_by = document.getElementById("forwarded_by");

     	index.value = "{{item['index']}}";
     	dept_sect.value = "{{item['dept_sect']}}";
     	issued_by.value = "{{item['issued_by']}}";
     	wiss_date.value = "{{item['wiss_date']}}";

		issued_to.value = "{{item['issued_to']}}";
     	received_by.value = "{{item['received_by']}}";
     	forwarded_by.value = "{{item['forwarded_by']}}";     	
     	}
     	catch (err) {
     		alert(err.message);
     	}

     }
		// Basic example

 $(document).ready(function(){
        $('#myTable').DataTable({
        "aLengthMenu": [[5, 30, 45, -1], [5, 30, 45, "All"]],
        "iDisplayLength": 5,
        "pagingType": "simple"
    });
     });    
</script>
{% endfor %}


{% endblock %}
{% block scripts %}



{% endblock %}