

<header id="header" class="header noprint" style="background: black">
    <div class="top-left">
        <div class="navbar-header" style="background: black">
            <a class="navbar-brand" style="color: white">Daily Time Record System</a>

            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="top-right" >
        <div class="header-menu" >
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span style="color:white">{{session.user}}</span>
                    <img class="user-avatar rounded-circle" src="{{ url_for('static', filename='images/icons/user.png' )}}" alt="User Avatar">
                </a>

                <div class="user-menu dropdown-menu" style="background: skyblue">
                    <a class="nav-link" href="{{url_for('index')}}"><i class="fa fa-user"></i>Profile</a>
                    <a class="nav-link" href="{{url_for('profile_sub', content='change_login_detail')}}"><i class="fa fa-cog"></i>Edit Login Details</a>

                    <a class="nav-link" href="{{url_for('sign_out')}}"><i class="fa fa-power-off"></i>Logout</a>
                </div>
            </div>

        </div>
    </div>
</header>